/****************************************************************************
  FileName      [ App.css ]
  PackageName   [ src ]
  Author        [ Cheng-Hua Lu ]
  Synopsis      [  ]
  Copyright     [ 2022 10 ]
****************************************************************************/

* {
      font-family: 'Futura';
}

html,
body {
      height: 100%;
}

.App {
      display: "flex";
      align-items: center;
      justify-content: center;
      text-align: center;
}